{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.container{
    display:flex;
    justify-content:center;
    align-items: centre;
    min-height: 100vh;
    background: #1f242d;
}

.container form{
    width: 700px;
    padding: 40px;
    background:#fff;
    border-radius: 10px;
}

form.row{
    display:flex;
    gap:15px;
}

.row .column{
    flex: 1 1 250px;
}

.column .title{
    font-size:20px;
    color: #333;
    text-trasform: uppercase;
    margin-bottom:5px;
}

.column .input-box{
    margin: 15px 0;
}

.input-box span{
    display: block;
    margin-bottom: 10px;
}

.input-box input{
    width: 100%;
    padding:10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size:15px;
}

.column .flex{
    display:flex;
    gap:15px;
}

.flex .input-box{
    margin-top: 5px;

}

form .btn{
    width: 100%;
    padding: 12px;
    background:#8175d3;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 17px;
    color:#fff;
    margin-top:5px;
    cursor:pointer;
}

form .btn:hover{
    background:#6a5acd;
}